<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="teamdynamite.pizzapoint">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".New_Order"
            android:label="@string/title_activity_new__order"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".splash"
            android:label="@string/title_activity_splash"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainMenu"
            android:label="@string/title_activity_main_menu"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".SoupsSalads"
            android:label="@string/title_activity_soups_salads"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".RoastedVeggieWrap"
            android:label="@string/title_activity_roasted_veggie_wrap"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ViewOrder"
            android:label="@string/title_activity_view_order"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Antipasto"
            android:label="@string/title_activity_antipasto"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".CaesarSalad"
            android:label="@string/title_activity_caesar_salad"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".InsalataCaprese"
            android:label="@string/title_activity_insalata_caprese"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>
