<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="teamdynamite.pizzapoint">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/pizzaimg"
        android:label="PizzaPOS"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".New_Order"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".splash"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainMenu"
            android:parentActivityName=".New_Order"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".SoupsSalads"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".RoastedVeggieWrap"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ViewOrder"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Antipasto"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".CaesarSalad"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".InsalataCaprese"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".SubsSandwhiches"
            android:label="@string/title_activity_subs_sandwhiches"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Classics"
            android:label="@string/title_activity_classics"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ForTheKids"
            android:label="@string/title_activity_for_the_kids"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".SpecialtyPizzas"
            android:label="@string/title_activity_specialty_pizzas"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".CustomPizzas"
            android:label="@string/title_activity_custom_pizzas"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".AppsAndSides"
            android:label="@string/title_activity_apps_and_sides"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Calzones"
            android:label="@string/title_activity_calzones"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".SpecialtyDishes"
            android:label="@string/title_activity_specialty_dishes"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".OpenOrder"
            android:label="OpenOrder"
            android:theme="@style/AppTheme.NoActionBar" /><!-- ATTENTION: This was auto-generated to add Google Play services to your project for
     App Indexing.  See https://g.co/AppIndexing/AndroidStudio for more information. -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
    </application>

</manifest>